bop/BlenderProc/hb
bop/BlenderProc/my
bop/BlenderProc/tless
bop/BlenderProc/tyol
bop/BlenderProc/ycbv
bop/BlenderProc/backgrounds
output

bop/BlenderProc/distractor_objs
bop/BlenderProc/distractor_store

.venv/
.venv_blender5/